# <font color= #900c3f >MUIT - TSA 2018</font>
## Some simple Acoustic Analysis of Speech from Sleep Apnea Patients

### some references:

- #### [Formant Frequencies and Bandwidths in Relation to Clinical Variables in an Obstructive Sleep Apnea Population](https://www.sciencedirect.com/science/article/pii/S0892199715000077)
- #### [Obstructive Sleep Apnea in Women: Study of Speech and Craniofacial Characteristics](http://https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5696580/)

===================================================================
## Extracting data: $Formants$ from sustained vowel /i/
<br>

- ### UPLOAD: OSA_Excel.zip file from [TSA GitHub](http://https://github.com/MUIT-TSA/Python)

In [1]:
! unzip /resources/data/audio/OSA/OSA_Excel.zip -d /resources/data/audio/OSA/

Archive:  /resources/data/audio/OSA/OSA_Excel.zip
  inflating: /resources/data/audio/OSA/OSA_1.xls
  inflating: /resources/data/audio/OSA/OSA_10.xls
  inflating: /resources/data/audio/OSA/OSA_100.xls
  inflating: /resources/data/audio/OSA/OSA_11.xls
  inflating: /resources/data/audio/OSA/OSA_12.xls
  inflating: /resources/data/audio/OSA/OSA_13.xls
  inflating: /resources/data/audio/OSA/OSA_14.xls
  inflating: /resources/data/audio/OSA/OSA_15.xls
  inflating: /resources/data/audio/OSA/OSA_16.xls
  inflating: /resources/data/audio/OSA/OSA_17.xls
  inflating: /resources/data/audio/OSA/OSA_18.xls
  inflating: /resources/data/audio/OSA/OSA_19.xls
  inflating: /resources/data/audio/OSA/OSA_2.xls
  inflating: /resources/data/audio/OSA/OSA_20.xls
  inflating: /resources/data/audio/OSA/OSA_21.xls
  inflating: /resources/data/audio/OSA/OSA_22.xls
  inflating: /resources/data/audio/OSA/OSA_23.xls
  inflating: /resources/data/audio/OSA/OSA_24.xls
  inflating: /resources/data/audio/OSA/OSA_25.xls
  inflating: /resources/data/audio/OSA/OSA_26.xls
  inflating: /resources/data/audio/OSA/OSA_27.xls
  inflating: /resources/data/audio/OSA/OSA_28.xls
  inflating: /resources/data/audio/OSA/OSA_29.xls
  inflating: /resources/data/audio/OSA/OSA_3.xls
  inflating: /resources/data/audio/OSA/OSA_30.xls
  inflating: /resources/data/audio/OSA/OSA_31.xls
  inflating: /resources/data/audio/OSA/OSA_32.xls
  inflating: /resources/data/audio/OSA/OSA_33.xls
  inflating: /resources/data/audio/OSA/OSA_34.xls
  inflating: /resources/data/audio/OSA/OSA_35.xls
  inflating: /resources/data/audio/OSA/OSA_36.xls
  inflating: /resources/data/audio/OSA/OSA_37.xls
  inflating: /resources/data/audio/OSA/OSA_38.xls
  inflating: /resources/data/audio/OSA/OSA_39.xls
  inflating: /resources/data/audio/OSA/OSA_4.xls
  inflating: /resources/data/audio/OSA/OSA_40.xls
  inflating: /resources/data/audio/OSA/OSA_41.xls
  inflating: /resources/data/audio/OSA/OSA_42.xls
  inflating: /resources/data/audio/OSA/OSA_43.xls
  inflating: /resources/data/audio/OSA/OSA_44.xls
  inflating: /resources/data/audio/OSA/OSA_45.xls
  inflating: /resources/data/audio/OSA/OSA_46.xls
  inflating: /resources/data/audio/OSA/OSA_47.xls
  inflating: /resources/data/audio/OSA/OSA_48.xls
  inflating: /resources/data/audio/OSA/OSA_49.xls
  inflating: /resources/data/audio/OSA/OSA_5.xls
  inflating: /resources/data/audio/OSA/OSA_50.xls
  inflating: /resources/data/audio/OSA/OSA_51.xls
  inflating: /resources/data/audio/OSA/OSA_52.xls
  inflating: /resources/data/audio/OSA/OSA_53.xls
  inflating: /resources/data/audio/OSA/OSA_54.xls
  inflating: /resources/data/audio/OSA/OSA_55.xls
  inflating: /resources/data/audio/OSA/OSA_56.xls
  inflating: /resources/data/audio/OSA/OSA_57.xls
  inflating: /resources/data/audio/OSA/OSA_58.xls
  inflating: /resources/data/audio/OSA/OSA_59.xls
  inflating: /resources/data/audio/OSA/OSA_6.xls
  inflating: /resources/data/audio/OSA/OSA_60.xls
  inflating: /resources/data/audio/OSA/OSA_61.xls
  inflating: /resources/data/audio/OSA/OSA_62.xls
  inflating: /resources/data/audio/OSA/OSA_63.xls
  inflating: /resources/data/audio/OSA/OSA_64.xls
  inflating: /resources/data/audio/OSA/OSA_65.xls
  inflating: /resources/data/audio/OSA/OSA_66.xls
  inflating: /resources/data/audio/OSA/OSA_67.xls
  inflating: /resources/data/audio/OSA/OSA_68.xls
  inflating: /resources/data/audio/OSA/OSA_69.xls
  inflating: /resources/data/audio/OSA/OSA_7.xls
  inflating: /resources/data/audio/OSA/OSA_70.xls
  inflating: /resources/data/audio/OSA/OSA_71.xls
  inflating: /resources/data/audio/OSA/OSA_72.xls
  inflating: /resources/data/audio/OSA/OSA_73.xls
  inflating: /resources/data/audio/OSA/OSA_74.xls
  inflating: /resources/data/audio/OSA/OSA_75.xls
  inflating: /resources/data/audio/OSA/OSA_76.xls
  inflating: /resources/data/audio/OSA/OSA_77.xls
  inflating: /resources/data/audio/OSA/OSA_78.xls
  inflating: /resources/data/audio/OSA/OSA_79.xls
  inflating: /resources/data/audio/OSA/OSA_8.xls
  inflating: /resources/data/audio/OSA/OSA_80.xls
  inflating: /resources/data/audio/OSA/OSA_81.xls
  inflating: /resources/data/audio/OSA/OSA_82.xls
  inflating: /resources/data/audio/OSA/OSA_83.xls
  inflating: /resources/data/audio/OSA/OSA_84.xls
  inflating: /resources/data/audio/OSA/OSA_85.xls
  inflating: /resources/data/audio/OSA/OSA_86.xls
  inflating: /resources/data/audio/OSA/OSA_87.xls
  inflating: /resources/data/audio/OSA/OSA_88.xls
  inflating: /resources/data/audio/OSA/OSA_89.xls
  inflating: /resources/data/audio/OSA/OSA_9.xls
  inflating: /resources/data/audio/OSA/OSA_90.xls
  inflating: /resources/data/audio/OSA/OSA_91.xls
  inflating: /resources/data/audio/OSA/OSA_92.xls
  inflating: /resources/data/audio/OSA/OSA_93.xls
  inflating: /resources/data/audio/OSA/OSA_94.xls
  inflating: /resources/data/audio/OSA/OSA_95.xls
  inflating: /resources/data/audio/OSA/OSA_96.xls
  inflating: /resources/data/audio/OSA/OSA_97.xls
  inflating: /resources/data/audio/OSA/OSA_98.xls
  inflating: /resources/data/audio/OSA/OSA_99.xls
  inflating: /resources/data/audio/OSA/OSA_101.xls
  inflating: /resources/data/audio/OSA/OSA_102.xls
  inflating: /resources/data/audio/OSA/OSA_103.xls
  inflating: /resources/data/audio/OSA/OSA_104.xls
  inflating: /resources/data/audio/OSA/OSA_105.xls
  inflating: /resources/data/audio/OSA/OSA_106.xls
  inflating: /resources/data/audio/OSA/OSA_107.xls
  inflating: /resources/data/audio/OSA/OSA_108.xls
  inflating: /resources/data/audio/OSA/OSA_109.xls
  inflating: /resources/data/audio/OSA/OSA_110.xls
  inflating: /resources/data/audio/OSA/OSA_111.xls
  inflating: /resources/data/audio/OSA/OSA_112.xls
  inflating: /resources/data/audio/OSA/OSA_113.xls
  inflating: /resources/data/audio/OSA/OSA_114.xls
  inflating: /resources/data/audio/OSA/OSA_115.xls
  inflating: /resources/data/audio/OSA/OSA_116.xls
  inflating: /resources/data/audio/OSA/OSA_117.xls
  inflating: /resources/data/audio/OSA/OSA_118.xls
  inflating: /resources/data/audio/OSA/OSA_119.xls
  inflating: /resources/data/audio/OSA/OSA_120.xls
  inflating: /resources/data/audio/OSA/OSA_121.xls
  inflating: /resources/data/audio/OSA/OSA_122.xls
  inflating: /resources/data/audio/OSA/OSA_123.xls
  inflating: /resources/data/audio/OSA/OSA_124.xls
  inflating: /resources/data/audio/OSA/OSA_125.xls
  inflating: /resources/data/audio/OSA/OSA_126.xls
  inflating: /resources/data/audio/OSA/OSA_127.xls
  inflating: /resources/data/audio/OSA/OSA_128.xls
  inflating: /resources/data/audio/OSA/OSA_129.xls
  inflating: /resources/data/audio/OSA/OSA_130.xls
  inflating: /resources/data/audio/OSA/OSA_131.xls
  inflating: /resources/data/audio/OSA/OSA_132.xls
  inflating: /resources/data/audio/OSA/OSA_133.xls
  inflating: /resources/data/audio/OSA/OSA_134.xls
  inflating: /resources/data/audio/OSA/OSA_135.xls
  inflating: /resources/data/audio/OSA/OSA_136.xls
  inflating: /resources/data/audio/OSA/OSA_137.xls
  inflating: /resources/data/audio/OSA/OSA_138.xls
  inflating: /resources/data/audio/OSA/OSA_139.xls
  inflating: /resources/data/audio/OSA/OSA_140.xls
  inflating: /resources/data/audio/OSA/OSA_141.xls
  inflating: /resources/data/audio/OSA/OSA_142.xls
  inflating: /resources/data/audio/OSA/OSA_143.xls
  inflating: /resources/data/audio/OSA/OSA_144.xls
  inflating: /resources/data/audio/OSA/OSA_145.xls
  inflating: /resources/data/audio/OSA/OSA_146.xls
  inflating: /resources/data/audio/OSA/OSA_147.xls
  inflating: /resources/data/audio/OSA/OSA_148.xls
  inflating: /resources/data/audio/OSA/OSA_149.xls
  inflating: /resources/data/audio/OSA/OSA_150.xls
  inflating: /resources/data/audio/OSA/OSA_151.xls
  inflating: /resources/data/audio/OSA/OSA_152.xls
  inflating: /resources/data/audio/OSA/OSA_153.xls
  inflating: /resources/data/audio/OSA/OSA_154.xls
  inflating: /resources/data/audio/OSA/OSA_155.xls
  inflating: /resources/data/audio/OSA/OSA_156.xls
  inflating: /resources/data/audio/OSA/OSA_157.xls
  inflating: /resources/data/audio/OSA/OSA_158.xls
  inflating: /resources/data/audio/OSA/OSA_159.xls
  inflating: /resources/data/audio/OSA/OSA_160.xls
  inflating: /resources/data/audio/OSA/OSA_161.xls
  inflating: /resources/data/audio/OSA/OSA_162.xls
  inflating: /resources/data/audio/OSA/OSA_163.xls
  inflating: /resources/data/audio/OSA/OSA_164.xls
  inflating: /resources/data/audio/OSA/OSA_165.xls
  inflating: /resources/data/audio/OSA/OSA_166.xls
  inflating: /resources/data/audio/OSA/OSA_167.xls
  inflating: /resources/data/audio/OSA/OSA_168.xls
  inflating: /resources/data/audio/OSA/OSA_169.xls
  inflating: /resources/data/audio/OSA/OSA_170.xls
  inflating: /resources/data/audio/OSA/OSA_171.xls
  inflating: /resources/data/audio/OSA/OSA_172.xls
  inflating: /resources/data/audio/OSA/OSA_173.xls
  inflating: /resources/data/audio/OSA/OSA_174.xls
  inflating: /resources/data/audio/OSA/OSA_175.xls
  inflating: /resources/data/audio/OSA/OSA_176.xls
  inflating: /resources/data/audio/OSA/OSA_177.xls
  inflating: /resources/data/audio/OSA/OSA_178.xls
  inflating: /resources/data/audio/OSA/OSA_179.xls
  inflating: /resources/data/audio/OSA/OSA_180.xls
  inflating: /resources/data/audio/OSA/OSA_181.xls
  inflating: /resources/data/audio/OSA/OSA_182.xls
  inflating: /resources/data/audio/OSA/OSA_183.xls
  inflating: /resources/data/audio/OSA/OSA_184.xls
  inflating: /resources/data/audio/OSA/OSA_185.xls
  inflating: /resources/data/audio/OSA/OSA_186.xls
  inflating: /resources/data/audio/OSA/OSA_187.xls
  inflating: /resources/data/audio/OSA/OSA_188.xls
  inflating: /resources/data/audio/OSA/OSA_189.xls
  inflating: /resources/data/audio/OSA/OSA_190.xls
  inflating: /resources/data/audio/OSA/OSA_191.xls
  inflating: /resources/data/audio/OSA/OSA_192.xls
  inflating: /resources/data/audio/OSA/OSA_193.xls
  inflating: /resources/data/audio/OSA/OSA_194.xls
  inflating: /resources/data/audio/OSA/OSA_195.xls
  inflating: /resources/data/audio/OSA/OSA_196.xls
  inflating: /resources/data/audio/OSA/OSA_197.xls
  inflating: /resources/data/audio/OSA/OSA_198.xls
  inflating: /resources/data/audio/OSA/OSA_199.xls
  inflating: /resources/data/audio/OSA/OSA_200.xls

### <font color=  #dc7633  >Now we will use Pandas DataFrames to read and analyze data</font>

In [2]:
import pandas as pd

In [3]:
! pip install xlrd

Requirement already satisfied: xlrd in ./common/.virtualenv/python3/lib/python3.5/site-packages

### ... read only one file...

In [4]:
file = '/resources/data/audio/OSA/OSA_18.xls'
df1 = pd.read_excel(file,sheetname='Sheet1')

In [5]:
df1

,Gender,F1,F2,F3,age,height,weight,cervper,AHI
0,1,330.697369,2712.571259,3340.181125,51,158,74,35,2.5

### ... then read all files and concatenate DataFrames

In [6]:
## Get a list with all xls files in /resources/data/audio/OSA/

import os

exPath='/resources/data/audio/OSA/'
fileList=os.listdir(exPath)

In [7]:
len(fileList)

201

### ... read all the files in the list
### and concatenate all dataframes into a df_OSA dataframe

In [8]:
df_OSA=pd.DataFrame()  # an empty DataFrame

for exFile in fileList:
    if exFile.endswith('.xls'):
        df = pd.read_excel(exPath+exFile,sheetname='Sheet1')
        df_OSA=pd.concat([df_OSA,df], axis=0)

In [9]:
df_OSA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 0
Data columns (total 9 columns):
Gender     200 non-null int64
F1         200 non-null float64
F2         200 non-null float64
F3         200 non-null float64
age        200 non-null int64
height     200 non-null int64
weight     200 non-null int64
cervper    200 non-null float64
AHI        200 non-null float64
dtypes: float64(5), int64(4)
memory usage: 15.6 KB

In [10]:
df_OSA['F2'][0:10]

0    2412.706798
0    2336.225824
0    2025.760431
0    2062.385388
0    2593.818208
0    2179.000000
0    1959.751986
0    2528.731360
0    2382.988394
0    2047.200136
Name: F2, dtype: float64

In [11]:
df_OSA.head(5)

,Gender,F1,F2,F3,age,height,weight,cervper,AHI
0,0,262.987463,2412.706798,2717.264674,53,172,86,42.0,11.8
0,0,328.920620,2336.225824,2543.783444,56,169,83,40.0,12.8
0,0,264.632903,2025.760431,2677.612399,71,177,82,43.0,8.4
0,0,326.909707,2062.385388,2728.799734,36,175,90,40.0,27.0
0,0,325.143804,2593.818208,2735.192163,62,172,80,42.0,14.8

In [12]:
df_OSA.iloc[1:3]

,Gender,F1,F2,F3,age,height,weight,cervper,AHI
0,0,328.920620,2336.225824,2543.783444,56,169,83,40.0,12.8
0,0,264.632903,2025.760431,2677.612399,71,177,82,43.0,8.4

### ... unique

In [13]:
Gender_categories=pd.unique(df_OSA['Gender'])
print('Gender categories : ',Gender_categories)

Gender categories :  [0 1]

### ...simple stats...

In [14]:
df_OSA['F1'].mean()

335.03427545031161

In [15]:
df_OSA.describe()

,Gender,F1,F2,F3,age,height,weight,cervper,AHI
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,0.500000,335.034275,2407.317283,2944.663699,48.585000,167.73000,84.850000,39.992500,18.037300
std,0.501255,57.500418,263.866796,309.384639,11.992157,9.59832,18.645799,4.285208,18.386225
min,0.000000,229.408355,1957.722718,2344.363553,21.000000,144.00000,45.000000,32.000000,0.000000
25%,0.000000,290.778280,2192.254856,2707.116576,38.000000,160.00000,72.000000,37.000000,4.950000
50%,0.500000,328.955627,2369.782531,2913.284283,49.000000,168.00000,84.000000,40.000000,10.900000
75%,1.000000,371.287320,2628.083087,3141.232682,58.250000,175.00000,94.000000,43.000000,27.250000
max,1.000000,572.966605,3068.893500,3632.875259,80.000000,191.00000,165.000000,53.000000,108.400000

## $Groupby$
### ... analyze data by category or group

In [17]:
df_OSA.groupby('Gender').describe()

                     AHI          F1           F2           F3         age  \
Gender
0      count  100.000000  100.000000   100.000000   100.000000  100.000000
       mean    21.625600  296.354811  2194.500933  2707.962719   46.420000
       std     18.319557   31.630671   140.550261   160.478348   12.150720
       min      0.000000  229.408355  1957.722718  2344.363553   21.000000
       25%      6.225000  271.519782  2092.134844  2583.951125   37.000000
       50%     16.250000  293.902531  2196.445786  2711.188795   44.000000
       75%     32.275000  320.567361  2283.089911  2836.403155   56.000000
       max     87.000000  371.860821  2676.094855  3055.267599   77.000000
1      count  100.000000  100.000000   100.000000   100.000000  100.000000
       mean    14.449000  373.713740  2620.133633  3181.364679   50.750000
       std     17.829838   51.215892   169.421732   231.224335   11.487697
       min      0.000000  253.547020  2169.332156  2665.638867   26.000000
       25%      3.775000  342.673131  2522.748771  2989.459888   40.750000
       50%      8.050000  370.785683  2627.661674  3142.448286   51.000000
       75%     19.425000  396.978666  2720.275862  3327.784328   60.000000
       max    108.400000  572.966605  3068.893500  3632.875259   80.000000

                 cervper      height      weight
Gender
0      count  100.000000  100.000000  100.000000
       mean    42.870000  174.870000   91.950000
       std      3.359458    6.622055   16.835733
       min     36.000000  159.000000   65.000000
       25%     41.000000  170.000000   80.000000
       50%     42.000000  174.500000   88.500000
       75%     45.000000  180.000000  100.250000
       max     53.000000  191.000000  161.000000
1      count  100.000000  100.000000  100.000000
       mean    37.115000  160.590000   77.750000
       std      2.982995    6.192363   17.707714
       min     32.000000  144.000000   45.000000
       25%     35.000000  156.000000   65.750000
       50%     37.000000  160.000000   73.500000
       75%     39.000000  165.000000   90.000000
       max     45.000000  179.000000  165.000000

In [ ]:
F1=df_OSA['F1']
F2=df_OSA['F2']

In [ ]:
type(F1)

In [ ]:
# convert F1 and F2 to arrays...

In [ ]:
type(F1)

# MATPLOTLIB

### [Matplotlib](https://matplotlib.org/#) is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms

<img src="https://matplotlib.org/_static/logo2.png">

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Scatter plot
plt.figure(figsize=(9,6))
plt.scatter(F1,F2)
plt.xlabel('F1',fontsize=18)
plt.ylabel('F2',fontsize=18)
plt.title('First and Second Formantas in OSA Patientes',fontsize=18)
plt.grid(color='k', linestyle='--')